{% extends 'eventos/main.html' %}
{% block content %}

{% load static %}

<h1>{{ evento.name }}</h1>
<div class="banner">
    <img src="{% static event.banner %}" alt="banner">
</div>

<p class="description"> {{ evento.descr_text }} </p>
<p> Quem crio ? </p>

<div id="map">
</div>

<script type='text/javascript' src="{% static 'eventos/map.js'%}">
    console.log("something");
    addMarker("{{ evento.location_map }}");
</script>


<p> {{ evento.location_map }} </p>
<p> {{ evento.event_date }} </h2>
<p> {{ evento.type_event }} </p>
<p> {{ evento.location_map }} </p>

<div>
    <div>
    <p> Número de Participantes: {{ evento.part_number }} </p>
    </div>
</div>

{% endblock content %}