<html>
    <head></head>
    <body>
        {% if request.user.is_authenticated %}
            <p>{{request.user}}</p>
            <a href="{% url 'users:logout' %}">Logout</a>
            <a href="{% url 'eventos:evento-user' %}"> Meus eventos</a>

        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
        {% endif %}
        <hr>
        <h1>Eventos</h1>
        
        <table>
            <tr>
                <th>Eventos:</th>
            </tr>
            {% for evento in eventos %}
            <tr>
                <td><a href="{% url 'eventos:evento' evento.id %}"> {{evento.name}}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if request.user.is_authenticated %}
            <hr>
            <a href="{% url 'eventos:evento-create' %}"> Criar novo Evento </a>
        {% endif %}
    </body>
</html>