<html>
    <head></head>
    <body>
        {% if request.user.is_authenticated %}
            <p>{{request.user}}</p>
            <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
        {% endif %}
        <hr>
        <h1>Eventos</h1>
        <a href="{% url 'eventos:evento-create' %}"> Criar novo Evento </a>
        
        <table>
            <tr>
                <th>Eventos:</th>
            </tr>
            {% for evento in eventos %}
            <tr>
                <td>{{evento.name}}</td>
                <td><a href="{% url 'eventos:evento' evento.id %}">Ver</a></td>
                <td><a href="{% url 'eventos:evento-update' evento.id %}">Editar</a></td>
                <td><a href="{% url 'eventos:evento-delete' evento.id %}">Deletar</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>