
body {
    display: flex; flex-direction: column; justify-content: center;
    min-height:100vh;
    max-width: max-content;
    margin: auto;
    background-color: #FFF;
}

div.banner { 
    margin: 5px;
    border: 1px solid #488E7B;
    float: left;
    width: 200px;
}

div.banner img {
    width: 100%;
    height: auto;
}

#map {
    height: 400px;
    width: 1000px;
    max-height: fit-content;
    max-height: fit-content;
}

div.map {
    height: 400px;
    max-width: 100%;
}

p {
    color: #005858
}

button.participar {
    background-color: #005858 
}