
<!DOCTYPE html>


<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
</head>
<body>

    <div>
    {% block content %}
        <br>
        <form method="POST">
            {% csrf_token %}
            {{form}}
          <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Sign Up</button>

        </form>

        If you already have an account <a href="users/login" target="blank"><strong>login</strong></a> instead.

    {% endblock %}        
    </div>

</body>